
  body{
    background-image: linear-gradient(rgb(148, 162, 213), rgb(173, 217, 123))
 }

 #elegantheading {
  font-weight: lighter;
  color:rgb(201, 235, 194);
  position:absolute;
  left:60px;
 
  font-size: 10px;
  font-style:italic;
}  

.titles{
  color:black; 
  /* they are not black... */
  position:relative;
  top:-100px;
  left: 5px;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 600px;
  padding-top: 200px;
  border: 50px ;
  margin: 50px ;
}
h2{
  position:absolute;
  right:1px;
  font-weight: lighter;
  font-size: 0.1in;
}
.hehe {
position:fixed;
right: 110px;
top:135px;
}
/* #patronus {
bottom:50px;  
} */
img{
  width:10%;
  position:sticky;
  bottom:0px;
}